name: Docker Image CI

on:
  release:
    types:
      - created
jobs:

  build:

    runs-on: ubuntu-latest

    steps:      
      - uses: actions/checkout@v2
        name: Check out code
      - uses: mr-smithers-excellent/docker-build-push@v3      
        name: Build & push Docker image
        with:
          image: hpe/oneview-ansible
          registry: docker.io
          dockerfile: Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
