name: build
on:
- pull_request

jobs:
  unit:
    name: Sanity (${{ matrix.ansible_version }}-${{ matrix.python_version }})
    strategy:
      matrix:
        python_version: [2.7, 3.5]
        ansible_version: [2.1.5.0, 2.2.2.0, 2.3.0.0, 2.4.0.0]
        exclude:
      # excludes python 3.5 and ansible 2.1 and 2.2
         - python_version: 3.5
           ansible_version: 2.1.5.0        
         - python_version: 3.5
           ansible_version: 2.2.2.0
          
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python_version }}
      - name : Setup ansible env
        run:  echo "BRANCH=stable-2.4" >> $GITHUB_ENV
      - name: Set up Ansible ${{ matrix.ansible_version}}
        run: pip install ansible==${{ matrix.ansible_version}}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install future pytest-cov pytest-xdist
          if [ -f test_requirements.txt ]; then pip install -r test_requirements.txt; fi
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      
      - name: Install ansible test
        run: |                   
          if [[ $BRANCH ]]; then 
          git clone -b $BRANCH --single-branch https://github.com/ansible/ansible.git
          source ./ansible/hacking/env-setup
          pip install pyyaml jinja2 nose pytest passlib pycrypto six voluptuous
          fi
      - name: Setup environment for Ansible build
        run: |
         echo "ANSIBLE_LIBRARY=$PWD/library" >> $GITHUB_ENV
         echo "PYTHONPATH=$ANSIBLE_LIBRARY:$PYTHONPATH" >> $GITHUB_ENV
         touch examples/vars/config.yml
         ./build.sh

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          name: codecov-umbrella
          verbose: true